<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Message Board</h1>
    <% for (let i = 0; i < messages.length; i++) { %>
    <div>
      <span><%= messages[i].text%></span>
      <span><%= messages[i].user %></span>
      <span><%= messages[i].added %></span>
    </div>
    <% } %>
    <a href="/new">New Message</a>
  </body>
</html>
